= form_with local: true, class: "party-register" do |form|

  .party
    .party__wrap

      -# ------------------------ 1匹目 ------------------------ #-
      .party__wrap__pokemon1
        .pokemon-container
          .pokemon-container__top
            -# ポケモン
            .label
              ポケモン
            .form
              = text_field_tag :name, "", class: "form-name__input", maxlength: "6", type: "text"
            -# ニックネーム
            .label
              ニックネーム
            .form
              = text_field_tag :nickname, "", class: "form-nickname__input", maxlength: "12", type: "text"
            -# 性別
            .label
              性別
            .form
              %select{ name: "exp_gender", type: "text", class: "form-gender__input", id: "exp_gender" }
                %option{ value: "" }  --
                %option{ value: "1" } ♂
                %option{ value: "2" } ♀
                %option{ value: "3" } 不明
          .pokemon-container__base-statuses
            -# 種族値
            .label
              種族値
              .form-status
                H
                = text_field_tag :bs_hp, "", class: "form-status__input", maxlength: "4", type: "text"
              .form-status
                A
                = text_field_tag :bs_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                B
                = text_field_tag :bs_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                C
                = text_field_tag :bs_special_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                D
                = text_field_tag :bs_special_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                S
                = text_field_tag :bs_speed, "", class: "form-status__input", maxlength: "3", type: "text"
          .pokemon-container__center
            -# 特性
            .label
              特性
            .form
              = text_field_tag :ability, "", class: "form-ability__input", type: "text"
            -# 性格
            .label
              性格
            .form
              = text_field_tag :nature, "", class: "form-nature__input", maxlength: "5", type: "text"
            -# 持ち物
            .label
              持ち物
            .form
              %select{ name: "exp_item", type: "text", class: "form-item__input", id: "exp_item" }
                %option{ value: "" }  ----
                %option{ value: "1"}  あつぞこブーツ
                %option{ value: "2"}  いのちのたま
                %option{ value: "3"}  おうじゃのしるし
                %option{ value: "4"}  回復系きのみ
                %option{ value: "5"}  かえんだま
                %option{ value: "6"}  からぶりほけん
                %option{ value: "7"}  きあいのタスキ
                %option{ value: "8"}  くろいてっきゅう
                %option{ value: "9"}  くろいヘドロ
                %option{ value: "10"} くろいメガネ
                %option{ value: "11"} こだわりスカーフ
                %option{ value: "12"} こだわりハチマキ
                %option{ value: "13"} こだわりメガネ
                %option{ value: "14"} ゴツゴツメット
                %option{ value: "15"} じしゃく
                %option{ value: "16"} じゃくてんほけん
                %option{ value: "17"} シルクのスカーフ
                %option{ value: "18"} しろいハーブ
                %option{ value: "19"} しんかのきせき
                %option{ value: "20"} せいれいプレート
                %option{ value: "21"} せんせいのつめ
                %option{ value: "22"} だっしゅつパック
                %option{ value: "23"} だっしゅつボタン
                %option{ value: "24"} たつじんのおび
                %option{ value: "25"} たべのこし
                %option{ value: "26"} ちからのハチマキ
                %option{ value: "27"} でんきだま
                %option{ value: "28"} とつげきチョッキ
                %option{ value: "29"} どくどくだま
                %option{ value: "30"} のどスプレー
                %option{ value: "31"} ひかりのねんど
                %option{ value: "32"} ピントレンズ
                %option{ value: "33"} ふうせん
                %option{ value: "34"} ぼうじんゴーグル
                %option{ value: "35"} フォーカスレンズ
                %option{ value: "36"} メンタルハーブ
                %option{ value: "37"} ものしりメガネ
                %option{ value: "38"} ラムのみ
                %option{ value: "39"} レッドカード
          .pokemon-container__current-statuses
            -# ステータス
            .label
              ステータス
              .form-status
                H
                = text_field_tag :cs_hp, "", class: "form-status__input", maxlength: "4", type: "text"
              .form-status
                A
                = text_field_tag :cs_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                B
                = text_field_tag :cs_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                C
                = text_field_tag :cs_special_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                D
                = text_field_tag :cs_special_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                S
                = text_field_tag :cs_speed, "", class: "form-status__input", maxlength: "3", type: "text"
          .pokemon-container__effort-values
            -# 努力値
            .label
              努力値
              .form-status
                H
                = text_field_tag :ev_hp, "", class: "form-status__input", maxlength: "4", type: "text"
              .form-status
                A
                = text_field_tag :ev_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                B
                = text_field_tag :ev_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                C
                = text_field_tag :ev_special_attack, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                D
                = text_field_tag :ev_special_defense, "", class: "form-status__input", maxlength: "3", type: "text"
              .form-status
                S
                = text_field_tag :ev_speed, "", class: "form-status__input", maxlength: "3", type: "text"
        .pokemon-moves
          -# 技
          .label
            わざ
            .form
              = text_field_tag :move1, "", class: "form__input", placeholder: "わざ1", maxlength: "8", type: "text"
            .form
              = text_field_tag :move2, "", class: "form__input", placeholder: "わざ2", maxlength: "8", type: "text"
            .form
              = text_field_tag :move3, "", class: "form__input", placeholder: "わざ3", maxlength: "8", type: "text"
            .form
              = text_field_tag :move4, "", class: "form__input", placeholder: "わざ4", maxlength: "8", type: "text"